**this version code trying to tokenize the keyword and categorized them for future analysis**
**Starting from the csv file download from

In [53]:
# import the necessary libraries
import pandas as pd
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
import re

In [54]:
#get the tweet data from 
df_tweets = pd.read_csv('data/trump-tweets-11-18-2019.csv')
print('total tweets', len(df_tweets))
display(df_tweets.head(20))

total tweets 12333

                source                                               text           created_at  retweet_count  favorite_count is_retweet               id_str
0   Twitter for iPhone                            https://t.co/Mqj5tXaDAz  11-18-2019 04:38:28          15115           41938      False  1196286528546332672
1   Twitter for iPhone  “All they do is bring up witnesses who didn’t ...  11-18-2019 03:39:38          16476           61998      False  1196271720392511489
2   Twitter for iPhone  “The Impeachment started before he even became...  11-18-2019 02:40:04          18488           75282      False  1196256729471827968
3   Twitter for iPhone                            https://t.co/1Rg66Tn4uP  11-17-2019 22:57:43          16318           51690      False  1196200775560634368
4   Twitter for iPhone                            https://t.co/D66PEkuX6d  11-17-2019 22:51:37          12209           38663      False  1196199239715639302
5   Twitter for iPhone                   Where is the Fake Whistleblower?  11-17-2019 20:12:27          26433          123845      False  1196159184431177729
6   Twitter for iPhone                            https://t.co/ru2n7i2gzu  11-17-2019 20:10:21          10062           30606      False  1196158655202299904
7   Twitter for iPhone  Republicans &amp; others must remember the Ukr...  11-17-2019 20:08:08          16915           63430      False  1196158097628303361
8   Twitter for iPhone  The Crazed Do Nothing Democrats are turning Im...  11-17-2019 20:03:44          17825           70193      False  1196156991682568193
9   Twitter for iPhone  Tell Jennifer Williams whoever that is to read...  11-17-2019 19:57:12          16943           65278      False  1196155347117002752
10  Twitter for iPhone                            https://t.co/I3lO117SVh  11-17-2019 19:56:02           8631           26877      False  1196155049795297282
11  Twitter for iPhone  Paul Krugman of @nytimes has been wrong about ...  11-17-2019 19:49:47          10227           36999      False  1196153477099085824
12  Twitter for iPhone  Schiff is a Corrupt Politician! https://t.co/D...  11-17-2019 19:47:32          14782           45827      False  1196152913174958080
13  Twitter for iPhone  .@SteveScalise blew the nasty &amp; obnoxious ...  11-17-2019 19:30:09          16557           59135      False  1196148537525977088
14  Twitter for iPhone  .@SteveScalese blew the nasty &amp; obnoxious ...  11-17-2019 19:26:04            789            2384      False  1196147508445163520
15  Twitter for iPhone               Thanks Eric! https://t.co/6Ai7bqto3P  11-17-2019 18:34:46          11239           44183      False  1196134600227078144
16  Twitter for iPhone  RT @EricTrump: I hope no one who serves our co...  11-17-2019 18:34:10          22885               0       True  1196134448183566338
17  Twitter for iPhone  RT @EricTrump: Trump Washington D.C! @TrumpDC ...  11-17-2019 18:33:34           6106               0       True  1196134298325266437
18  Twitter for iPhone                            https://t.co/nJBvFD1fGD  11-17-2019 18:10:59           8749           27307      False  1196128613453701120
19  Twitter for iPhone                            https://t.co/N6jsblFuMc  11-17-2019 18:10:19           8617           26761      False  1196128448605032450

In [55]:

#df_tweets.describe()
df_tweets['created_at'] =  pd.to_datetime(df_tweets['created_at']).dt.date
df_tweets['trump_tweet_cnt'] =[1 if reFlag ==False else 0 for reFlag in df_tweets['is_retweet'].values]
df_tweets['trump_retweet_cnt'] =[0 if  reFlag ==False else 1 for reFlag in df_tweets['is_retweet'].values]
df_tweets.head(20)

                source                                               text  created_at  retweet_count  favorite_count is_retweet               id_str  trump_tweet_cnt  trump_retweet_cnt
0   Twitter for iPhone                            https://t.co/Mqj5tXaDAz  2019-11-18          15115           41938      False  1196286528546332672                1                  0
1   Twitter for iPhone  “All they do is bring up witnesses who didn’t ...  2019-11-18          16476           61998      False  1196271720392511489                1                  0
2   Twitter for iPhone  “The Impeachment started before he even became...  2019-11-18          18488           75282      False  1196256729471827968                1                  0
3   Twitter for iPhone                            https://t.co/1Rg66Tn4uP  2019-11-17          16318           51690      False  1196200775560634368                1                  0
4   Twitter for iPhone                            https://t.co/D66PEkuX6d  2019-11-17          12209           38663      False  1196199239715639302                1                  0
5   Twitter for iPhone                   Where is the Fake Whistleblower?  2019-11-17          26433          123845      False  1196159184431177729                1                  0
6   Twitter for iPhone                            https://t.co/ru2n7i2gzu  2019-11-17          10062           30606      False  1196158655202299904                1                  0
7   Twitter for iPhone  Republicans &amp; others must remember the Ukr...  2019-11-17          16915           63430      False  1196158097628303361                1                  0
8   Twitter for iPhone  The Crazed Do Nothing Democrats are turning Im...  2019-11-17          17825           70193      False  1196156991682568193                1                  0
9   Twitter for iPhone  Tell Jennifer Williams whoever that is to read...  2019-11-17          16943           65278      False  1196155347117002752                1                  0
10  Twitter for iPhone                            https://t.co/I3lO117SVh  2019-11-17           8631           26877      False  1196155049795297282                1                  0
11  Twitter for iPhone  Paul Krugman of @nytimes has been wrong about ...  2019-11-17          10227           36999      False  1196153477099085824                1                  0
12  Twitter for iPhone  Schiff is a Corrupt Politician! https://t.co/D...  2019-11-17          14782           45827      False  1196152913174958080                1                  0
13  Twitter for iPhone  .@SteveScalise blew the nasty &amp; obnoxious ...  2019-11-17          16557           59135      False  1196148537525977088                1                  0
14  Twitter for iPhone  .@SteveScalese blew the nasty &amp; obnoxious ...  2019-11-17            789            2384      False  1196147508445163520                1                  0
15  Twitter for iPhone               Thanks Eric! https://t.co/6Ai7bqto3P  2019-11-17          11239           44183      False  1196134600227078144                1                  0
16  Twitter for iPhone  RT @EricTrump: I hope no one who serves our co...  2019-11-17          22885               0       True  1196134448183566338                0                  1
17  Twitter for iPhone  RT @EricTrump: Trump Washington D.C! @TrumpDC ...  2019-11-17           6106               0       True  1196134298325266437                0                  1
18  Twitter for iPhone                            https://t.co/nJBvFD1fGD  2019-11-17           8749           27307      False  1196128613453701120                1                  0
19  Twitter for iPhone                            https://t.co/N6jsblFuMc  2019-11-17           8617           26761      False  1196128448605032450                1                  0

In [56]:

df_tweets_cleaned = df_tweets.groupby('created_at', as_index = False).agg({
    'trump_tweet_cnt': 'sum',
    'trump_retweet_cnt': 'sum',
    'retweet_count': 'sum',
    'favorite_count': 'sum'
})
df_tweets_cleaned.head()

   created_at  trump_tweet_cnt  trump_retweet_cnt  retweet_count  favorite_count
0  2017-01-21                1                  1          51350          177579
1  2017-01-22                4                  0         184236          949408
2  2017-01-23                1                  0          26750          177839
3  2017-01-24                4                  0          86707          495813
4  2017-01-25                8                  0         240014         1112361

In [57]:
#sort to display head to validate the aggregation works fine

df_tweets_cleaned= df_tweets_cleaned.sort_values('created_at',ascending=False)
df_tweets_cleaned.head()

      created_at  trump_tweet_cnt  trump_retweet_cnt  retweet_count  favorite_count
1018  2019-11-18                3                  0          50079          179218
1017  2019-11-17               36                 15         666343         1668991
1016  2019-11-16               14                 11         414895          932464
1015  2019-11-15               19                 24         733886         1313131
1014  2019-11-14               13                 21         444871          988437

In [58]:
#read the ^GSPC data from file, downloaded from yahoo 
#starting date from 2017-01-21 through 2019-11-18
df_SPX = pd.read_csv('data/GSPC-2017-01-21-2019-11-18.csv')
df_SPX['Date'] = pd.to_datetime(df_SPX['Date']).dt.date
display(df_SPX.head())
display(df_SPX.describe())
#df_SPX_dn

         Date         Open         High          Low        Close    Adj Close      Volume
0  2017-01-23  2267.780029  2271.780029  2257.020020  2265.199951  2265.199951  3152710000
1  2017-01-24  2267.879883  2284.629883  2266.679932  2280.070068  2280.070068  3810960000
2  2017-01-25  2288.879883  2299.550049  2288.879883  2298.370117  2298.370117  3846020000
3  2017-01-26  2298.629883  2300.989990  2294.080078  2296.679932  2296.679932  3610360000
4  2017-01-27  2299.020020  2299.020020  2291.620117  2294.689941  2294.689941  3135890000

              Open         High          Low        Close    Adj Close        Volume
count   712.000000   712.000000   712.000000   712.000000   712.000000  7.120000e+02
mean   2692.130730  2703.282850  2679.795449  2692.350028  2692.350028  3.526318e+09
std     206.575691   207.733114   205.301864   206.434496   206.434496  5.899965e+08
min    2267.780029  2271.780029  2257.020020  2265.199951  2265.199951  1.349780e+09
25%    2502.142517  2509.532410  2495.712463  2506.800049  2506.800049  3.198668e+09
50%    2718.645019  2733.034912  2703.029907  2719.250000  2719.250000  3.446320e+09
75%    2858.612549  2872.877563  2850.742615  2858.719970  2858.719970  3.773572e+09
max    3117.909912  3124.169922  3112.060059  3122.030029  3122.030029  7.609010e+09

In [61]:
df_tweets_cleaned['trade_date_flag']=[1 if dt in (df_SPX['Date'].values) else 0 for dt in df_tweets_cleaned['created_at']]
df_tweets_cleaned.head(10)

      created_at  trump_tweet_cnt  trump_retweet_cnt  retweet_count  favorite_count  trade_date_flag
1018  2019-11-18                3                  0          50079          179218                1
1017  2019-11-17               36                 15         666343         1668991                0
1016  2019-11-16               14                 11         414895          932464                0
1015  2019-11-15               19                 24         733886         1313131                1
1014  2019-11-14               13                 21         444871          988437                1
1013  2019-11-13               13                 30         620215          861799                1
1012  2019-11-12               10                  4         206848          687599                1
1011  2019-11-11               23                 15         594749         1628959                1
1010  2019-11-10               18                 33         734694         1231303                0
1009  2019-11-09               12                 32         511615          879567                0